{% extends 'base.html' %}

{% block content %}

<h1>Temporal Infrastructure Provisioning</h1>
<h2>Terraform Run Scenarios</h2>
<table class="table table-sm table-striped">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Directory</th>
    </tr>
    {% for name, scenario in scenarios.items() %}
    <tr>
        <td>{{ scenario["title"] }}</td>
        <td>{{ scenario["description"] }}</td>
        <td><pre>{{ scenario["directory"] }}</pre></td>
    </tr>
    {% endfor %}
</table>

<h4>Choose Scenario</h4>
<select id="scenario" name="scenario" class="form-select">
    {% for name, scenario in scenarios.items() %}
        <option value="{{ name }}">{{ scenario["title"] }}</option>
    {% endfor %}
</select>

<button class="btn btn-primary" onclick="provisionInfra()">Provision Infrastructure</button>
<input type="hidden" id="tfRunID" value="{{ wf_id }}">

<hr />

<h4>Historical Runs</h4>

<table class="table table-sm table-striped">
    <tr>
        <th>Workflow ID</th>
        <th>Status</th>
    </tr>
    {% for run in tf_runs %}
    <tr>
        {% if "localhost:" in temporal_host_url %}
            <td><a href="{{temporal_host_url}}/namespaces/{{temporal_namespace}}/workflows/{{run['id']}}" target="_blank">{{ run["id"] }}</a></td>
        {% else %}
            <td><a href="https://cloud.temporal.io/namespaces/{{temporal_namespace}}/workflows/{{run['id']}}" target="_blank">{{ run["id"] }}</a></td>
        {% endif %}
        <td>{{ run["status"] }}</td>
    </tr>
    {% endfor %}
</table>


{% endblock %}