{% extends 'base.html' %}

{% block content %}

<h1>Temporal Provisioning</h1>
<h2>Terraform Scenarios</h2>
<table>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Directory</th>
    </tr>
    {% for name, scenario in scenarios.items() %}
    <tr>
        <td>{{ name }}</td>
        <td>{{ scenario["description"] }}</td>
        <td><pre>{{ scenario["directory"] }}</pre></td>
    </tr>
    {% endfor %}
</table>

<h3>Choose Scenario</h3>
<select id="scenario" name="scenario">
    {% for name in scenarios.keys() %}
        <option value="{{ name }}">{{ name }}</option>
    {% endfor %}
</select>

<button class="btn btn-primary" onclick="provisionInfra()">Provision Infrastructure</button>
<input type="hidden" id="tfRunID" value="{{ tf_run_id }}">

{% endblock %}