{% extends 'base.html' %}

{% block content %}

<script>
	// Start updating progress when the page loads
	document.addEventListener("DOMContentLoaded", function () {
		updateProgress();
	});
</script>

<h2>Provisioning Infrastructure Workflow Status</h2>
<p>Selected Scenario: {{ selected_scenario }}</p>
<h5 class="tf-run-id">{{ tf_run_id }}</h5>

<div class="status-bar">
	<div id="progress-bar" class="status-progress" style="width: 0;"></div>
</div>

<p>Current Status: <span id="current-status">...</span></p>

<div id="terraform-plan-container">
	<h4>Terraform Plan</h4>
	<code id="terraform-plan"></code>
</div>

<div id="signal-container">
	<h5>Approve or Deny Apply?</h5>
	<label for="reason">Reason:</label>
	<input type="text" id="reason">
	<button class="green" onclick="signal(true)">Approve</button>
	<button class="red" onclick="signal(false)">Deny</button>
</div>

<div id="updateResult"></div>
<p id="error-message" style="color: red;"></p>

{% endblock %}