{% extends 'base.html' %}

{% block content %}

<h2>Infrastructure Provisioned Workflow Status</h2>

<table class="table">
    <tr>
        <th scope="row">Workflow ID</th>
		<td><a href="{{temporal_ui_url}}/namespaces/{{temporal_namespace}}/workflows/{{wf_id}}" target="_blank">{{ wf_id }}</a></td>
    </tr>
    <tr>
        <th scope="row">Status</th>
        <td>{{ tf_run_status }}</td>
    </tr>
</table>

{% if tf_workflow_output != {} %}
	<h4>Terraform Output</h4>
	<table class="table table-sm table-dark">
		<tr>
			<th>Key</th>
			<th>Value</th>
		</tr>
		{% for key, value in tf_workflow_output.items() %}
		<tr>
			<td><code>{{ key }}</code></td>
			<td><code>{{ value["value"] if not value["sensitive"] else "<sensitive>" }}</code></td>
		</tr>
		{% endfor %}
	</table>
{% endif %}


<button class="btn btn-primary" onclick="reloadMainPage()">Provision More Infrastructure</button>

{% endblock %}
