{% extends 'base.html' %}

{% block content %}

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Provision Infrastructure Workflow Status [{{ tf_run_id }}]</title>
	<script>
		// TODO: remove order naming
		var interval;

		function startCountdown(seconds, countdownElement) {
			function updateCountdown() {
				countdownElement.innerText = seconds + ' seconds remaining';
				seconds--;

				if (seconds < 0) {
					clearInterval(interval);
					countdownElement.style.display = 'none';
				}
			}

			// Set up interval to call updateCountdown every second
			interval = setInterval(updateCountdown, 1000);
		}

		// Define the updateScenarioElements function
		isCountdown = false;
		function updateScenarioElements(selectedScenario, progress) {
			// TODO: clean up this function
			// Get the elements for HumanInLoopSignal and HumanInLoopUpdate scenarios
			var signalElement = document.getElementById('humanInLoopSignal');
			var updateElement = document.getElementById('humanInLoopUpdate');
			var signalCountdownElement = document.getElementById('signalCountdown');
			var updateCountdownElement = document.getElementById('updateCountdown');

			// Hide all elements initially
			signalElement.style.display = 'none';
			updateElement.style.display = 'none';
			signalCountdownElement.style.display = 'none';
			updateCountdownElement.style.display = 'none';

			// Check if the countdown is already active
			var isCountdownActive = signalCountdownElement.style.display === 'block' || updateCountdownElement.style.display === 'block';

			// Show elements based on the ected scenario and progress
			if (selectedScenario === 'HumanInLoopSignal' && progress === 75 && !isCountdownActive) {
				signalElement.style.display = 'block';
				signalCountdownElement.style.display = 'block';
				if (!isCountdown) {
					isCountdown = true;
					startCountdown(59, signalCountdownElement);  // Start 60 second countdown
				}
			} else if (selectedScenario === 'HumanInLoopUpdate' && progress === 75 && !isCountdownActive) {
				updateElement.style.display = 'block';
				updateCountdownElement.style.display = 'block';
				if (!isCountdown) {
					isCountdown = true;
					startCountdown(59, updateCountdownElement);  // Start 59 second countdown
				}
			}
		}

		function updateProgress() {
			var urlParams = new URLSearchParams(window.location.search);
			var tfRunID = urlParams.get('tf_run_id');
			var selectedScenario = urlParams.get('scenario');

			fetch('/get_progress?tf_run_id=' + encodeURIComponent(tfRunID))
				.then(response => {
					if (response.ok) {
						return response.json();
					} else {
						// If response status is not okay, throw an error
						throw new Error(`Failed to fetch progress. Status: ${response.status}`);
					}
				})
				.then(data => {
					// Update the progress bar
					document.getElementById('progress-bar').style.width = data.progress + '%';

					if (data.progress === 100) {
						// TODO
						// Redirect to order confirmation with the tf_run_id
						window.location.href = '/order_confirmation?tf_run_id=' + encodeURIComponent(tfRunID);
					} else {
						// Continue updating progress
						setTimeout(updateProgress, 1000);
					}

					// Show/hide elements based on the selected scenario and progress
					updateScenarioElements(selectedScenario, data.progress);
				})
				.catch(error => {
					// Log the detailed error message to the console
					console.error('Error fetching progress:', error.message);

					// Display the error message in the web browser
					document.getElementById('error-message').innerText = error.message;

					// Handle the error by showing a red status bar
					document.getElementById('progress-bar').style.backgroundColor = 'red';
				});
		}

		// Start updating progress when the page loads
		document.addEventListener("DOMContentLoaded", function () {
			updateProgress();
		});

		// Define the signal function
		function signal() {
			// Get the order_id from the URL query parameters
			var urlParams = new URLSearchParams(window.location.search);
			var order_id = urlParams.get('order_id');

			// Perform AJAX request to the server for signaling
			fetch('/signal?order_id=' + encodeURIComponent(order_id), {
				method: 'POST',
				headers: {
					'Content-Type': 'application/json'
				},
				body: JSON.stringify({
					address: document.getElementById('signalAddress').value
				})
			})
				.then(response => {
					if (response.ok) {
						console.log('Signal sent successfully');
					} else {
						console.error('Failed to send signal');
					}
				})
				.catch(error => {
					console.error('Error during signal:', error.message);
				});
		}
	</script>
</head>

<body>
	<section style="display: flex; justify-content: center;">
		<h2>Provision Infra Workflow Status [{{ tf_run_id }}]</h2>
	</section>

	<div class="status-bar">
		<div id="progress-bar" class="status-progress" style="width: 0;"></div>
	</div>

	<p>Selected Scenario: {{ selected_scenario }}</p>

	<div id="humanInLoopSignal" style="display: none;">
		<label for="signalAddress">Enter Address:</label>
		<input type="text" id="signalAddress">
		<button onclick="signal()">Signal</button>
		<p id="signalCountdown"></p>
	</div>

	<div id="humanInLoopUpdate" style="display: none;">
		<label for="updateAddress">Enter Address:</label>
		<input type="text" id="updateAddress">
		<button onclick="update()">Update</button>
		<p id="updateCountdown"></p>
	</div>

	<div id="updateResult"></div>
	<p id="error-message" style="color: red;"></p>
</body>

{% endblock %}