{% extends 'base.html' %}

{% block content %}

<script>
	// Start updating progress when the page loads
	document.addEventListener("DOMContentLoaded", function () {
		updateProgress();
	});
</script>

<h2>Infrastructure Provisioning Workflow Status</h2>

<table class="table">
    <tr>
        <th scope="row">Selected Scenario</th>
        <td>{{ selected_scenario }}</td>
    </tr>
    <tr>
        <th scope="row">Workflow ID</th>
        <td><a href="{{temporal_ui_url}}/namespaces/{{temporal_namespace}}/workflows/{{wf_id}}" target="_blank">{{ wf_id }}</a></td>
    </tr>
</table>

<h4>Terraform Run</h4>
<!--
Don't show thw current status on the happy path because we want to illustrate
why you want advanced visbility, but we also want that visibility on all the
other scenarios because it is helpful to have.
 -->
{% if selected_scenario != "happy_path" %}
	<h5>Current Status: <span id="current-status" class="badge text-bg-secondary">...</span></h5>
{% endif %}

<div class="status-bar">
	<div id="progress-bar" class="status-progress" style="width: 0;"></div>
</div>


<div id="terraform-plan-container">
	<code id="terraform-plan"></code>
</div>

<div id="signal-container">
	<h5>Approve or Deny Apply w/ Signal?</h5>
	<button class="btn btn-primary" onclick="signal(true)">Approve</button>
	<button class="btn btn-danger" onclick="signal(false)">Deny</button>
</div>

<div id="update-container">
	<h5>Approve or Deny Apply w/ Update?</h5>
	<label for="reason">Reason:</label>
	<input type="text" id="reason" placeholder="Enter reasoning... "/>
	<button class="btn btn-primary" onclick="update(true)">Approve</button>
	<button class="btn btn-danger" onclick="update(false)">Deny</button>
</div>

<div id="update-result" class="badge text-bg-danger"></div>
<p id="error-message" class="badge text-bg-danger"></p>

<hr />

<h4>Historical Runs</h4>

<table class="table table-sm table-striped">
    <!-- TODO: pull live info? -->
    <tr>
        <th>Workflow ID</th>
        <th>Scenario</th>
        <th>Status</th>
    </tr>
    {% for run in tf_runs %}
    <tr>
        <td><a href="{{temporal_ui_url}}/namespaces/{{temporal_namespace}}/workflows/{{run['id']}}" target="_blank">{{ run["id"] }}</a></td>
        <td>{{ run["scenario"] }}</td>
        <td>{{ run["status"] }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}
